.tech {
    margin: 10px 0;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    text-align: center;

}

.loading {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-style: italic;

}