.container {
    width: 400px;
    margin-left: 70px;
    margin-top: 30px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 400px; /* фиксированная ширина */
    margin-bottom: 30px;
}

.number {
    min-width: 40px;
    text-align: center;
    font-weight: bold;
}
